In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('final_data.csv')
df.head()

,Unnamed: 0,access,account_number,accounting_year,cdp_region,change_in_emissions,city,city_wide_emissions_inventory,country,gases_included,...,3,4,5,6,7,8,9,10,11,12
0,0,public,35859,2016-01-01 - 2016-12-31,North America,Decreased,Cleveland,Yes,United States of America,GPC gases,...,4.176901,5.452295,5.879344,6.456642,6.405718,6.106342,5.429181,3.995512,2.980663,2.071119
1,1,public,35857,2015-01-01 - 2015-12-31,North America,Stayed the same,Cincinnati,Yes,United States of America,GPC gases,...,4.176901,5.452295,5.879344,6.456642,6.405718,6.106342,5.429181,3.995512,2.980663,2.071119
2,2,public,50565,NaN,North America,NaN,Toledo,No,United States of America,NaN,...,4.176901,5.452295,5.879344,6.456642,6.405718,6.106342,5.429181,3.995512,2.980663,2.071119
3,3,public,43910,2017-01-01 - 2017-12-31,North America,Decreased,Columbus,Yes,United States of America,GPC gases,...,4.176901,5.452295,5.879344,6.456642,6.405718,6.106342,5.429181,3.995512,2.980663,2.071119
4,4,public,73301,NaN,North America,NaN,Gretna,Intending to undertake in future,United States of America,NaN,...,5.430430,6.019141,6.403310,6.400589,6.196881,6.355976,5.966169,5.754829,4.616877,3.638774

In [3]:
df = df.rename(columns={"1": "solar_hours_lookup_jan", "2": "solar_hours_lookup_feb",
                  "3": "solar_hours_lookup_mar", "4": "solar_hours_lookup_apr",
                  "5": "solar_hours_lookup_may", "6": "solar_hours_lookup_jun",
                  "7": "solar_hours_lookup_jul", "8": "solar_hours_lookup_aug",
                  "9": "solar_hours_lookup_sep", "10": "solar_hours_lookup_oct",
                  "11": "solar_hours_lookup_nov", "12": "solar_hours_lookup_dec"})

In [4]:
df.columns

Index(['Unnamed: 0', 'access', 'account_number', 'accounting_year',
       'cdp_region', 'change_in_emissions', 'city',
       'city_wide_emissions_inventory', 'country', 'gases_included',
       'geocoded_column', 'inventory_boundary', 'last_update', 'organization',
       'population', 'population_year', 'primary_protocol',
       'primary_protocol_comment', 'reason_for_change', 'reporting_authority',
       'total_basic_emissions_gpc', 'total_basic_emissions_gpc_1',
       'total_scope_1_emissions_metric_tonnes_co2e',
       'total_scope_2_emissions_metric_tonnes_co2e', 'total_scope_3_emissions',
       'year_reported_to_cdp', 'coordinates', 'location', 'address',
       'addr_list', 'state', 'State', 'Number of Customers',
       'Average Monthly Consumption (kWh)', 'Average Price (cents/kWh)',
       'Average Monthly Bill (Dollar and cents)',
       'Solar panel pricing (cost per watt $/W)', 'Emissions (lbs/MWh)',
       'solar_hours_lookup_jan', 'solar_hours_lookup_feb',
       'solar_hours_lookup_mar', 'solar_hours_lookup_apr',
       'solar_hours_lookup_may', 'solar_hours_lookup_jun',
       'solar_hours_lookup_jul', 'solar_hours_lookup_aug',
       'solar_hours_lookup_sep', 'solar_hours_lookup_oct',
       'solar_hours_lookup_nov', 'solar_hours_lookup_dec'],
      dtype='object')

In [5]:
df['cost_of_installment_for_solar_panel'] = df['Solar panel pricing (cost per watt $/W)'].apply(lambda x: x*5000)

In [6]:
df['electricity_cost_from_conventional_sources']  = df['Average Price (cents/kWh)']

In [7]:
electricity_usage = df['Average Monthly Consumption (kWh)']

In [9]:
list_solar_lookup = ['solar_hours_lookup_jan', 'solar_hours_lookup_feb',
       'solar_hours_lookup_mar', 'solar_hours_lookup_apr',
       'solar_hours_lookup_may', 'solar_hours_lookup_jun',
       'solar_hours_lookup_jul', 'solar_hours_lookup_aug',
       'solar_hours_lookup_sep', 'solar_hours_lookup_oct',
       'solar_hours_lookup_nov', 'solar_hours_lookup_dec']

for months in list_solar_lookup:
    month = months.split('_')[-1]
    # TODO: update the number of days for each month
    df['elec_generated_from_solar_panel_in_'+month] = df['solar_hours_lookup_jan'].apply(lambda x: x*37*30)

solar_hours_lookup_jan
solar_hours_lookup_feb
solar_hours_lookup_mar
solar_hours_lookup_apr
solar_hours_lookup_may
solar_hours_lookup_jun
solar_hours_lookup_jul
solar_hours_lookup_aug
solar_hours_lookup_sep
solar_hours_lookup_oct
solar_hours_lookup_nov
solar_hours_lookup_dec

In [11]:
list_elec_generated = ['elec_generated_from_solar_panel_in_jan',
       'elec_generated_from_solar_panel_in_feb',
       'elec_generated_from_solar_panel_in_mar',
       'elec_generated_from_solar_panel_in_apr',
       'elec_generated_from_solar_panel_in_may',
       'elec_generated_from_solar_panel_in_jun',
       'elec_generated_from_solar_panel_in_jul',
       'elec_generated_from_solar_panel_in_aug',
       'elec_generated_from_solar_panel_in_sep',
       'elec_generated_from_solar_panel_in_oct',
       'elec_generated_from_solar_panel_in_nov',
       'elec_generated_from_solar_panel_in_dec']

In [12]:
for months in list_elec_generated:
    month = months.split('_')[-1]
    df['total_electricity_cost_'+month] = df.apply(lambda x: x['cost_of_installment_for_solar_panel'] 
                                        + x['electricity_cost_from_conventional_sources']*x[months],
                                       axis=1)

In [13]:
df.columns

Index(['Unnamed: 0', 'access', 'account_number', 'accounting_year',
       'cdp_region', 'change_in_emissions', 'city',
       'city_wide_emissions_inventory', 'country', 'gases_included',
       'geocoded_column', 'inventory_boundary', 'last_update', 'organization',
       'population', 'population_year', 'primary_protocol',
       'primary_protocol_comment', 'reason_for_change', 'reporting_authority',
       'total_basic_emissions_gpc', 'total_basic_emissions_gpc_1',
       'total_scope_1_emissions_metric_tonnes_co2e',
       'total_scope_2_emissions_metric_tonnes_co2e', 'total_scope_3_emissions',
       'year_reported_to_cdp', 'coordinates', 'location', 'address',
       'addr_list', 'state', 'State', 'Number of Customers',
       'Average Monthly Consumption (kWh)', 'Average Price (cents/kWh)',
       'Average Monthly Bill (Dollar and cents)',
       'Solar panel pricing (cost per watt $/W)', 'Emissions (lbs/MWh)',
       'solar_hours_lookup_jan', 'solar_hours_lookup_feb',
       'solar_hours_lookup_mar', 'solar_hours_lookup_apr',
       'solar_hours_lookup_may', 'solar_hours_lookup_jun',
       'solar_hours_lookup_jul', 'solar_hours_lookup_aug',
       'solar_hours_lookup_sep', 'solar_hours_lookup_oct',
       'solar_hours_lookup_nov', 'solar_hours_lookup_dec',
       'cost_of_installment_for_solar_panel',
       'electricity_cost_from_conventional_sources',
       'elec_generated_from_solar_panel_in_jan',
       'elec_generated_from_solar_panel_in_feb',
       'elec_generated_from_solar_panel_in_mar',
       'elec_generated_from_solar_panel_in_apr',
       'elec_generated_from_solar_panel_in_may',
       'elec_generated_from_solar_panel_in_jun',
       'elec_generated_from_solar_panel_in_jul',
       'elec_generated_from_solar_panel_in_aug',
       'elec_generated_from_solar_panel_in_sep',
       'elec_generated_from_solar_panel_in_oct',
       'elec_generated_from_solar_panel_in_nov',
       'elec_generated_from_solar_panel_in_dec', 'total_electricity_cost_jan',
       'total_electricity_cost_feb', 'total_electricity_cost_mar',
       'total_electricity_cost_apr', 'total_electricity_cost_may',
       'total_electricity_cost_jun', 'total_electricity_cost_jul',
       'total_electricity_cost_aug', 'total_electricity_cost_sep',
       'total_electricity_cost_oct', 'total_electricity_cost_nov',
       'total_electricity_cost_dec'],
      dtype='object')

In [ ]:
pd.set_option('display.max_columns', None)
df.head()